<br />
<h2>Allocation details for user: <%= @user.first_name %> <%= @user.last_name %></h2>
<br />
<hr />

<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-pills">
    <li><a href="#user_home" data-toggle="tab">User Home</a></li>
    <li class="active"><a href="#user_alloc_list" data-toggle="tab">User Allocation List</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane" id="user_home">
        <%= render 'layouts/user_home' %>
    </div>
    <div class="tab-pane active" id="user_alloc_list">
      <%= render 'layouts/allocation_table' %>
    </div>
  </div>
</div>
