<% provide(:title, 'Enterprise') %>
<div class="container" style="margin-top:20px;">
</br>
<h3 class="text-center">SeamConnect for Enterprise</h3>
<hr>
  <div class="row" id="homerow">
    <div class="span10">
      <p>SeamConnect for Enterprise provides all the complete functionality of NAT Traversal which can be deployed on the within the Enterprise network. The service can be used not only as WebRTC gateways but also for intra-enterprise communication. A lot of enterprise additional goodies are available including applying policies and constraints.</p>
      <p>For more details, please get in touch with us.</p>
    </div><!-- /.span8 -->
  </div><!-- /.row -->
</div>
