<div class="container" style="margin-top:20px;">
</br>

<h2>FAQ</h2>
<hr>
<ol>
  <li><b>What is SeamConnect platform?</b></br>
  <p>SeamConnect platform is a NAT and firewall traversal infrastructure service. The platform provides geographically distributed STUN and TURN servers which aid in NAT and firewall traversal for IP based real time applications such as WebRTC.</p>
  </li>
  <li><b>As a WebRTC service/app/platform provider, why should I use the SeamConnect platform?</b></br>
  <p>SeamConnect platform provides automatically updated, standards compliant and global infrastructure for NAT and firewall traversal. As a WebRTC service/platform provider, you can continue to invest your time and energy on your core product/business, instead of worrying about the NAT traversal issues at the client end. Instead of managing infrastructure and dealing with NAT/firewall traversal quirks, you can focus on your product and features that provide differentiation. You need not have dedicated personnel working to making sure that your NAT traversal servers are up and running providing the best network experience. To add, it also works out cheaper than running your own geographically distributed servers.</p>
  </li>
  <li><b>How much does it cost to use your platform?</b></br>
  <p>We are currently in beta, there are no charges as of now. For pricing inquiries, please use the <a href="/contact.html">contact</a> form on the site or send us an email at contact@seamconnect.com</p>
  </li>
  <li><b>What part does SeamConnect play in the WebRTC environment?</b></br>
  <p>SeamConnect helps with the NAT and firewall traversal for media packets, which is a minor yet significant part of the WebRTC ecosystem. The platform enables the WebRTC clients on the end devices to communicate and collaborate with each other no matter how they are connected to the Internet and what access medium they are using.</p>
  </li>
  <li><b>What does the SeamConnect provide?</b></br>
  <ul>
    <li>REST APIs for obtaining ephemeral credentials</li>
    <li>STUN and TURN servers</li>
    <li>Web interface to manage the users and set constraints and policies for each user</li>
    <li>Get an overall view of users and how they are communicating with each other</li>
  </ul>
  <br />
  </li>
  <li><b>What specifications is the SeamConnect platform compliant with?</b></br>
  <p>Please look at the <a href="/features.html">features</a> page for the list of standards the SeamConnect platform is compliant with. Please keep in mind that we are continuously adding new features and updating the platform and we closely follow the standards to keep the platform up to date.</p>
  </li>
  <li><b>How can I reach the support team at SeamConnect?</b></br>
  <p>Please contact us via the input form on the <a href="/contact.html">contact</a> page or mail to contact@seamconnect.com</p>
  </li>
</ol>
</div>

