<h3>Features</h3>

<ul>
<li>Confirmant to IETF TURN RFC 5766(http://tools.ietf.org/html/rfc5766) </li>
<li>Compliant with IETF TURN REST API (http://tools.ietf.org/html/draft-uberti-rtcweb-turn-rest-00) </li>
<li>Provides additional security to the time limited credentials as proposed in the TURN REST draft by revoking of specific ephemeral credentials </li>
<li>Web interface to manage users and view TURN server usage </li>
<li>REST APIs for management of users, in addition to what is specified in the IETF TURN REST draft </li>
<li>Our TURN servers are located at multiple locations throughout the world, which means the end users will observe the lowest latency possible </li>
</ul>
