
<div class="row features_spacer">
  <div class="span4 offset1">
    <img class="img-polaroid" src="assets/app_screenshot.png">
  </div><!-- /.span6 -->
  <div class="span6 offset1">
    <h4 class="features_h4_padded">WebRTC spec compliance</h4>
    <ul>
      <li class="features_li_padded"><a href="http://tools.ietf.org/html/rfc5766">IETF TURN RFC 5766</a></li>
      <li class="features_li_padded"><a href="http://tools.ietf.org/html/rfc5389">IETF STUN RFC 5389</a></li>
      <li class="features_li_padded"><a href="http://tools.ietf.org/html/draft-uberti-rtcweb-turn-rest-00">IETF TURN REST API Draft</a></li>
    </ul>
  </div>
</div>


<div class="row features_spacer">
  <div class="span4 offset1">
    <img class="img-polaroid" src="assets/admin_interface.png">
  </div><!-- /.span6 -->
  <div class="span6 offset1">
    <h4 class="features_h4_padded">Admin Dashboard</h4>
    <ul>
      <li class="features_li_padded">Easily manage users</li>
      <li class="features_li_padded">Enforce policies</li>
      <li class="features_li_padded">View the overall bandwidth usage and patterns across all users</li>
    </ul>
  </div><!-- /.span6 -->
</div><!-- /.row -->


<div class="row features_spacer">
  <div class="span4 offset1">
    <img class="img-polaroid" src="assets/user_interface.png">
  </div><!-- /.span6 -->
  <div class="span6 offset1">
    <h4 class="features_h4_padded">User Allocation Dashboard</h4>
    <ul>
      <li class="features_li_padded">Set limits and constraints for each user</li>
      <li class="features_li_padded">View the TURN allocations and bandwidth usage</li>
      <li class="features_li_padded">View the overall bandwidth usage for each user</li>
    </ul>
  </div><!-- /.span6 -->
</div><!-- /.row -->



<div class="row features_spacer">
  <div class="span4 offset1">
    <img class="img-polaroid" src="assets/admin_interface.png">
  </div><!-- /.span6 -->
  <div class="span6 offset1">
    <h4 class="features_h4_padded">Additional features</h4>
    <ul>
      <li class="features_li_padded">Provides additional security to the time limited credentials as proposed in the TURN REST draft by revoking of specific ephemeral credentials </li>
      <li class="features_li_padded">REST APIs for management of users, in addition to what is specified in the IETF TURN REST draft </li>
      <li class="features_li_padded">Our TURN servers are located at multiple locations throughout the world, which means the end users will observe the lowest latency possible</li>
    </ul>
  </div><!-- /.span6 -->
</div><!-- /.row -->


<div class="row features_spacer">
  <div class="span4 offset1">
    <img class="img-polaroid" src="assets/user_interface.png">
  </div><!-- /.span6 -->
  <div class="span6 offset1">
    <h4 class="features_h4_padded">Planned Features - Coming Soon</h4>
    <ul>
      <li class="features_li_padded"><a href="http://tools.ietf.org/html/rfc6062">IETF TURN TCP RFC 6062 - TURN TCP</a></li>
      <li class="features_li_padded"><a href="http://tools.ietf.org/html/rfc6156">IETF TURN TCP RFC 6156 - TURN IPv6</a></li>
    </ul>
  </div><!-- /.span6 -->
</div><!-- /.row -->


