<% provide(:title, 'NAT Traversal service for seamless communication') %>
<div>
  <div class="hero-unit">
    <h1>Seamless Communication and Collaboration</h1>
    <br/>
    <h3>You have built a great real time application. But you have a problem, your users are not able to consistently use your application due to the NAT and firewall traversal issues. The world may be flat, but the network isn't. SeamConnect service helps you fix it.</h3>
    <p><center><a href="/contact.html" class="btn btn-primary btn-large">Get started &raquo;</a></center></p>
  </div>

  <div class="row" id="homerow_soln">
    <div class="span12">
      <h2>SeamConnect is a NAT traversal infrastructure service providing TURN and STUN server functionality. The platform helps with NAT and firewall traversal for all IP based real time communication and collaboration applications - WebRTC, Video calling, Messaging, conferencing and more.</h2>
    <hr>
    </div>
  </div>


  <div class="row" id="homerow">
    <div class="span4">
      <!-- <img class="img-polaroid" src=""> -->
      <h2>Open Standards</h2>
      <p>Our NAT traversal service is compliant to all the relevant IETF and HTML5 specifications. The interoperability has been tested with the available WebRTC browser clients, to ensure that you can deliver your service without worrying about the NAT issues.</p>
      <p><a class="btn btn-inverse" href="/features.html">Details »</a></p>
    </div><!-- /.span4 -->
    <div class="span4">
      <!-- <img class="img-polaroid" src=""> -->
      <h2>Performance and Scalability</h2>
      <p>Real Time Communications are highly sensitive to network delays and congestion. Our globally distributed NAT traversal servers ensure that your customers do not experience any lag at all. And thus ensure that your customers can enjoy your service no matter how they are connected to the Internet and what device they are using.</p>
      <p><a class="btn btn-inverse" href="/features.html">Details »</a></p>
    </div><!-- /.span4 -->
    <div class="span4">
      <!-- <img class="img-polaroid" src=""> -->
      <h2>Contact</h2>
      <p>In order to ensure sure that your customers are always able to connect and collaborate with each other, NAT traversal is paramount. Contact us to know more details about the service offering as well as to setup a trial account for you.</p>
      <p><a class="btn btn-inverse" href="/contact.html">Details »</a></p>
    </div><!-- /.span4 -->
  </div><!-- /.row -->


</div>
