<% provide(:title, 'How it works') %>
<div class="container" style="margin-top:20px;">
</br>

<h3 class="text-center">How it works</h3>
<hr>

<ol>
  <li>
    <h5>SeamConnect handles the NAT Traversal infrastructure part of your WebRTC service. Save time and effort by letting SeamConnect handle the NAT traversal infrastructure so that you can concentrate your energy and resources on your real time service.</h5>
  </li>

  <br />
  <li>
  <h5>Get ephemeral credentials. Your WebRTC service/app makes use of the SeamConnect REST api to obtain ephemeral credentials for the WebRTC session as well as the location of the STUN and TURN server. These NAT traversal servers will be used for establishing direct P2P connectivity and in some scenarios, these servers will relay the media data when direct P2P communication is not possible</h5>
  </li>

  <br />
  <li>
  <h5>Your users will always enjoy a reliable and always available service</h5>
  </li>

  <br />
  <li>
  <h5>Enforce policies and limits for your individual users. Get statistics about the traffic and your users demography, your service usage for analysis.</h5>
  </li>

  <br />
  <li>
  <h5>Use the SeamConnect REST API to manage your account</h5>
  </li>
</ol>

