@import "bootstrap";
body { padding-top: 40px; }
@import "bootstrap-responsive";

body.pull_top {
    padding-top: 0px !important;
}


.mb-home-signup-large {
  padding: 9px 91px;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: rgb(209, 255, 255);
}

.span4 {
  margin-left: right;
}

#allocations1 {
  font-size: 85%;
  td {
    text-align: center;
  }
  th {
    text-align: center;
    background-color: #ffcccc;
  }
}

#allocations_info1 {
  font-size: 85%;
}

#allocations_wrapper {
  font-size: 85%;
  td {
    text-align: center;
  }
  th {
    text-align: center;
    background-color: #ffcccc;
  }
  .row-fluid {
    font-size: 85%;
  }
}

#allocations_filter1 {
  font-size: 85%;
}

#allocations_length1 {
  font-size: 85%;
}

.dataTables_paginate1 {
  font-size: 85%;
}


.navbar.transparent.navbar-inverse .navbar-inner {
    border-bottom: 1px solid rgb(88, 88, 88);
    color: #6f64ec
}

.navbar.transparent.navbar-inverse .navbar-inner .container {
    background: rgba(0,136,204,0.4);
    color: #6f64ec;
    margin-top: 10px;
    margin-bottom: 0px;
    -webkit-transition: margin .2s ease-in-out;
    -moz-transition: margin .2s ease-in-out;
    transition: margin .2s ease-in-out;
}

.navbar.inverse {
    color: #6f64ec;
}

.navbar-inverse .navbar-inner {
  background-color: #005596;
  background-image: -moz-linear-gradient(top, #357fcf, #357fcf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#357fcf), to(#357fcf));
  background-image: -webkit-linear-gradient(top, #357fcf, #357fcf);
  background-image: -o-linear-gradient(top, #357fcf, #357fcf);
  background-image: linear-gradient(to bottom, #357fcf, #357fcf);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF357fcf', endColorstr='#FF357fcf', GradientType=0);
  border-color: #252525;
  /* font-family: 'Nova Square', cursive; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Titillium Web', sans-serif; */
  font-family: 'Arvo', sans-serif;
}

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

html,
body {
  height: 100%; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  /* font-size: 0.85em;*/
  /* line-height: 1.9em; */
  line-height: 17px;
  color: #1f1f1f;
  /* font-family: 'Arvo', sans-serif; */
}


/* Wrapper for page content to push down footer */
#mywrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

#mypush,
#myfooter {
  height: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  /* color: $grayLight; */
  color: #0a0a0a;
  /* line-height: 1.8em; */
}

p {
  /* font-size: 1.1em; */
  line-height: 1.8em;
}


#homerow {
  margin-left: 20px;
} 

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  /* text-transform: uppercase; */
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

#beta {
  float: left;
  margin-right: 0px;
  margin-left: -7px;
  font-size: 1.3em;
  color: white;
  letter-spacing: -1px;
  padding-top: 8px;
  /* font-weight: bold; */
  line-height: 0.4;
  &:hover {
    color: black;
    text-decoration: none;
  }
}


header {
    background: rgba(0,0,0,.6) !important;
}


/* footer */

footer {
  /* margin-top: 45px; */
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: none; 
  }

  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }

  ull {
    float: left;
    list-style: none;
    li {
      float: right;
      margin-right: 10px;
    }
  }
}

/* following from railsapps example - http://railsapps.github.com/tutorial-rails-mongoid-devise.html */
header nav ul {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}

header {
  background-color: rgb(255, 255, 255);
}

header nav ul li {
  display: inline;
}

.navbar-inverse .nav > li > a {
  color: #ffffff;
}

.navbar-inverse {
  color: #ffffff;
}


#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.content {
  background-color: #eee;
  padding: 20px;
  /* margin: 0 -20px; *//* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.features_spacer {
    margin-top: 60px; /* define margin as you see fit */
}

.features_li_padded {
    padding: 10px;
}

.features_h4_padded {
    padding: 25px;
}


.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}


.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
  text-align: left;
}


.form-signin input[type="email"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}


.form-contact {
  max-width: 360px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

#contactpush {
  height: 30px;
}


