<p>Hello <%= @resource.first_name %> <%= @resource.last_name %>,</p>

<p>It seems you forgot your login details. A request to reset your password has been received. For security reasons the initial password cannot be sent over email, you must reset it.</p>

<p>Please use the URL below to reset your password:</p>
<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If you did not initiate this password request, please ignore the message.  It's often a good security measure to change your password often and avoid using the same password on several accounts.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

<p>
Regards,
SeamConnect Team
</p>
